body{
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: white;
}
.container{
    width: 1350px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* Header Section */

header{
    padding: 10px 0px;
    /* you will give 4 values value x axis y axis, spread, color */
    box-shadow: 0px 15px 15px rgb(173, 171, 171) ;
}
.header_logo{
    width: 100px;
    height: auto;
}

.logo_support{
margin-left: 5px;
font-size: 22px;
color: rgb(47, 45, 45);
}

.header_nav{
    width: 250px;
    margin-left: 50px;
    margin-top: 5px;
}
.header_nav a{  
    text-decoration: none;
    color: rgb(137, 137, 137);
    margin: 0px 15px;
}
.header_nav a:hover{
    color: black;
}

.header_btn{
margin-left: 400px;
width: 450px;
}

.header_btn a{
    margin: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}
.header_btn_one{
    color: dodgerblue;
}

.header_btn_one:hover{
    color: rgb(54, 62, 66);
    background-color: rgb(221, 219, 219);
}
.header_btn_two{
    background-color: dodgerblue;
    color: white;
}

.header_btn_two:hover{
    background-color: rgb(35, 125, 215);
}
/* start of title */

.title{
    margin-top: 50px;
}

.title_1{
    width: 40%;
    padding: 25px;
}
.title_1 h1{
    font-size: 75px;
}
.title_2{
    width: 50%;
    margin: auto;
}

.title_2 video{
    width: 80%;
    margin: 10%;
}

/* support section */
.support{
background-color: rgb(224, 220, 220);
margin-top: 75px;
border-top: 1px solid rgb(145, 142, 142);
border-bottom: 1px solid rgb(145, 142, 142);
}

.support_box{
width: 28%;
padding: 30px;
margin: 0px auto;
}

.support_box h3{
    font-size: 25px;
    font-weight:400;
}

.support_box p{
    font-weight: 100;
}
.underline_blue{
    width: 30px;
    height: 5px;
    background-color: rgb(131, 110, 209);
    border-radius: 10px;
}

.underline_black{
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

.underline_green{
    width: 30px;
    height: 5px;
    background-color: rgba(0, 255, 42, 0.768);
    border-radius: 10px;
}
.support_box_border{
    border-left: 1px solid rgb(145, 142, 142);
    border-right: 1px solid rgb(145, 142, 142);
}
/* features section / all the features */

.features{
    margin-top: 50px;
}

.features_img{
    width: 20%;
    margin: 0px auto;
}

.features_img img {
    width: 100%;
}

.features_content{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}

.features_content h2{
    font-size: 50px;
}
.features_content p{
    color: rgba(30, 3, 3, 0.204);
    font-size: 18px;
}
.features_buttons{
    margin-top: 100px;
}

.features_button{
    width: 33.33%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(188, 186, 186);
}
.features_button a{
    text-decoration: none;
    color: black;
    }
    .features_button a:hover{
        border-bottom: 3px solid rgb(73, 131, 186);
    }
        .features_text{
        margin-top: 100px;
        width: 30%;
        padding: 50px;
        color: rgb(170, 171, 172);
    }
    .features_video{
        margin-top: 100px;
        width: 60%;
    }

    .features_video video{
    width: 80%;
    margin: 0px 10%;
    }
    /* Account Section */

    .account{
        margin-top: 200px 200px;
    }
    .account_content{
        width: 35%;
        margin: auto;
    }
    .account_content h2{
        text-align: center;
        font-size: 40px;
    }

    .account_content a{
        display: block;
        text-decoration: none;
        color: dodgerblue;
        text-align: center;
        font-size: 20px;
        padding: 15px 25px;
        margin-top: 15px;
        font-weight: 500;
        }

   .account_content .login{
    background-color: dodgerblue;
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
 .login:hover{
    background-color: rgb(11, 86, 162);
 }

/* Footer */
.footer{
    margin-top: 300px;
    padding: 30px 0px;
    background-color: aliceblue ;
}
.footer h3{
    font-size: 28px;
    color: rgb(115, 114, 114);
}
.footer_nav{
    padding: 37px 10px;
    margin-left: 30px;
}
.footer_nav a{
    text-decoration: none;
    color: rgb(182, 182, 182);
    margin: 5px 15px;
}

.footer_nav a:hover{
   color: black;
}
.footer_help{
    width:25% ;
    padding: 33px 10px;
    margin-left: 350px;
    font-size: 18px;
}

.footer_help small{
    margin-right: 20px;
    color:rgb(155, 162, 168);
}